h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color: var(--color-primary-text);
}

h4 {
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    color: var(--color-primary-text);
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--color-primary-text);
    font-weight: bolder;
    font-size: 3rem;
    color: var(--color-primary-text);
}

a:link {
    text-decoration: none;
}

.card-img-title {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin: 22px;
    transition: 0.3s ease;
}

.card-img {
    width: 155px;
    height: 155px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin: 22px;
    transition: 0.3s ease;
}
